// Colors
$backgroundTransparentDark = #00000099
$backgroundTransparentDarkSecondary = #000000cc
$backgroundTransparentDarkOver = #00000066
$backgroundTransparentLight = #ffffffcc
$backgroundTransparentLightSecondary = #ffffff99
$backgroundTransparentLightOver = #ffffff33
$fontColorWhite = #ffffff
$fontColorBlack = #333333
$fontColorBlackSecondary = #666666
$linkColorFooter = #ff33cc
$dividerColorDark = #00000011
$dividerColorLight = #ffffff11
// Dimensions
$fontSize = 16px
$gap = 8px
$padding = 20px
$mobileMinWidth = 320px
$sideWidth = 320px
$avatarSize = $fontSize * 3
$minPageWidth = 1024px
$maxMainWidth = 1280px